.sign-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  .sign-content {
    color: #121212;
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    padding: 0;
    box-shadow: 0 1px 3px rgba(18, 18, 18, 0.1);
    border-radius: 2px;
    background-color: #ffffff;
    width: 400px;
    overflow: hidden;
    .sign-card {
      padding: 24px 24px 84px;
      .sign-button {
        width: 100%;
        margin-top: 30px;
      }
    }
  }
}
